div.body {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 5000px;
    transition: all ease-out 1s;

}

.active-modal{
    height: 200px;
    width: 300px;
}

.Modal-wrapper {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    animation: zoom .4s ease-in-out;
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    border: #e31837 1px solid;
    background-color: #333;
    opacity: .2;
    z-index: 20;
}

.input-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #555;
    z-index: 21;
}

.offModalBtn {
    position: fixed;
    top: 24%;
    left: 65%;
    background-color: transparent;
    z-index: 22;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

div.center {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(60%);
}

div.outer-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    // animation: scale 3s ease-out infinite;
}

button.tel {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: none;  
    background-color: #e31837;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

button.tel::before {
    z-index: 0;
    display: block;
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    animation: outer-scale ease-in 3s infinite;
}

.tel a {
    z-index: 2;
    position: absolute;
    animation: moving 3s linear infinite; 
}

div.inner-bubble {
    position: absolute;
    border-radius: 50%;
    animation: inner-scale 3s ease-in infinite;
}

@keyframes moving {
    0% {left: 1.3rem;}
    1% {left: 1rem;}
    2% {left: 1.3rem;}
    3% {left: 1.6rem;}
    4% {left: 1.3rem;}
    5% {left: 1rem;}
    6% {left: 1.3rem;}
    7% {left: 1.6rem;}
    8% {left: 1.3rem;}
    9% {left: 1rem;}
    10% {left: 1.3rem;}
    11% {left: 1.6rem;}
    12% {left: 1.3rem;}
    13% {left: 1rem;}
    14% {left: 1.3rem;}
    15% {left: 1.6rem;}
    16%{left: 1.3rem;}
    100% {left: 1.3rem;}
}

@keyframes inner-scale {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 4.5rem;
        width: 4.5rem;
        background-color: #ffffff;
    }
    31%{
       opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scale {
    0% {

    }
    40% {
        transform: scale(2);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(3);
    }
}

@keyframes outer-scale {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0.4
    }
    50% {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(4);
    }
    51%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
